{% extends '_base.html' %}
{% load static %}

{% block title %}
    Create Role
{% endblock title %}

{% block content %}
<div class="body-content px-6 py-8 bg-slate-100">
    <div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-lg">
        <h1 class="text-3xl font-semibold text-gray-800 mb-6 text-center">Create Role</h1>

        <form method="POST" enctype="{% url 'administrator_service:create_roles' %}">
            {% csrf_token %}
            <div class="mb-6">
                <label for="name" class="block text-sm font-medium text-gray-700 mb-2">Role Name</label>
                <input type="text" id="name" name="name" class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter role name" required>
            </div>

            <div class="mb-6 flex items-center">
                <input type="checkbox" id="is_active" name="is_active" class="mr-3 rounded-sm focus:ring-2 focus:ring-blue-500">
                <label for="is_active" class="text-sm text-gray-700">Is Active</label>
            </div>

            <button type="submit" class="w-full bg-black text-white py-3 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200">Create Role</button>
        </form>

        <div class="mt-4 text-center">
            <a href="{% url 'administrator_service:roles_list' %}" class="text-blue-500 hover:text-blue-600 text-sm">Back to Roles List</a>
        </div>
    </div>
</div>

{% endblock content %}
